html, body {
	height: 100%;
}

.HTMLprototyper-bar {
	display: none;
	position: fixed;
	z-index: 50;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #ccc;
	border-bottom: 1px solid black;
	padding: 5px 5px 0 5px;
}

.HTMLprototyper-bar-open {
	padding-top: 60px;
	display: block;
}

.HTMLprototyper-bar-files {
	float: left;
}

.HTMLprototyper-bar-files select {
	width: 200px;
	height: 44px;
}

.HTMLprototyper-bar-files option {
	height: 44px;
}

.HTMLprototyper-bar-new-project {
	position: relative;
	float: right;
	margin-left: 7px;
}

.HTMLprototyper-bar-meta {
	position: relative;
	float: right;
}

.HTMLprototyper-bar-meta-project {
	float: left;
	margin-right: 5px;
	margin-top: -5px;
}

.HTMLprototyper-bar-meta-project h3 {
	margin-bottom: 1px;
}

.HTMLprototyper-bar-meta-date {
	float: right;
	border-left: 1px solid black;
	padding-left: 5px;
	margin-top: -5px;
}

.HTMLprototyper-bar-meta p {
	margin: 0px;
	font-size: 0.9rem;
}

.HTMLprototyper-templates ul {
	list-style-type: none;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: auto;
}

.HTMLprototyper-templates li {
	width: 50%;
	text-align: center;
	float: left;
	cursor: pointer;
	margin-top: 20px;
}

.HTMLprototyper-templates span {
	font-weight: bold;
}

.HTMLprototyper-templates img {
	display: block;
	margin: 0 auto;
	border: 1px solid #eee;
}

.HTMLprototyper-templates img:hover {
	border: 1px solid #dadada;
}

/**
 * Modal
 */

.HTMLprototyper-modal-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	z-index: 98;
	display: none;
	top: 0;
	left: 0;
}

.HTMLprototyper-modal-content {
	position: absolute;
	z-index: 99;
	width: 650px;
	min-height: 50%;
	background-color: white;
	border-radius: 2px;
	overflow: auto;
	max-height: 80%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
