.HTMLprototyper-bar {
	display: none;
	position: absolute;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #ccc;
	border-bottom: 1px solid black;
	padding: 5px 5px 0 5px;
}

.HTMLprototyper-bar-open {
	padding-top: 60px;
}

.HTMLprototyper-bar-files {
	float: left;
}

.HTMLprototyper-bar-files select {
	width: 200px;
	height: 44px;
}

.HTMLprototyper-bar-meta {
	position: relative;
	float: right;
}

.HTMLprototyper-bar-meta p {
	margin-top: 15px;
}

.HTMLprototyper-templates ul {
	list-style-type: none;
}

.HTMLprototyper-templates li {
	width: 50%;
	text-align: center;
	float: left;
	cursor: pointer;
}

.HTMLprototyper-templates li:hover {
	background-color: yellow;
}

.HTMLprototyper-templates img {
	display: block;
	margin: 0 auto;
}

/**
 * Modal
 */
.HTMLprototyper-modal-overlay {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 900px;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	display: none;
}

.HTMLprototyper-modal-content {
	width: 650px;
	height: 650px;
	background-color: white;
	border-radius: 2px;
	margin: 100px auto;
	overflow: auto;
}
