<html>
<head>
	<meta charset="utf-8">
	<title>{project}</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{foundation_path}/css/foundation.css">
	<link rel="stylesheet" href="../../assets/css/HTMLprototyper.css">
	<script src="{foundation_path}/js/vendor/modernizr.js"></script>
	<script src="../../assets/js/jquery-2.1.0.min.js"></script>
	<script src="../../assets/js/HTMLprototyper.js"></script>
</head>
<body>


</body>
</html>
